{% extends 'base/post.html' %}
{% load static %}

{% block article %}
    <p>
        Hamming code is a set of error-correction codes that are used to detect and correct errors that may occur
        during the transmission of the data from the sender to the receiver.
    </p>
    <p>The technique was developed by <b>R.W. Hamming.</b></p>

    {% include 'hamming/logic.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/hooks.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}