<hr>
{% if has_error %}
    There was an error in the <b class="text-uppercase">{{ error_bit_label }}</b> of the sequence.
    <br>
    {% for bit in original %}
        {% if forloop.revcounter == error_position %}
            <b class="text-danger">{{ bit }}</b>
        {% else %}
            {{ bit }}
        {% endif %}
    {% endfor %}
    <i class="fas fa-times ml-1"></i>
    <br>
    {% for bit in corrected %}
        {% if forloop.revcounter == error_position %}
            <b class="text-success">{{ bit }}</b>
        {% else %}
            {{ bit }}
        {% endif %}
    {% endfor %}
    <i class="fas fa-check ml-1"></i>
    <br>
    <br>
    The following is the corrected hamming sequence.
    {% include 'hamming_code/sequence-tile.html' with sequence=corrected %}
    Which can be decoded into the data bits below
{% endif %}
{% include 'hamming_code/sequence-tile.html' with sequence=data %}