{% extends 'base/post.html' %}
{% load static %}

{% block article %}
    <p>
        In computer science, password cracking is defined as the process of recovering passwords from data that has
        been stored in or transmitted by a computer system in scrambled form
    </p>

    <h3 class="my-3">Brute-Force Attack</h3>
    <p>
        A brute-force attack uses trial-and-error to guess the passwords or passphrases. It is the digital
        equivalent of trying every key in your key ring, and eventually finding the right one.
    </p>
    <p>
        A brute-force attack can, in theory, be used to decrypt any encrypted key. However in practice this is not
        feasible. For longer passwords such an attack may take years to guess, as the length of the password
        increases the number possible combinations increase exponentially.
    </p>
    <p>
        However for shorter password it is still a simple and reliable method to decrypt a password. And for
        longer passwords other methods like dictionary attack are used.
    </p>

    <h3 class="my-3">Dictionary Attack</h3>
    <p>
        A dictionary attack is a brute-force technique where the algorithm runs through a list of predefined
        words and phrases, such as those from a dictionary or previous data breaches.
    </p>
    <p>
        Where traditional brute-force attacks may try every possible combination, a dictionary attack uses
        a limited number of pre-selected words. As a dictionary attack doesnt go through every possible
        combination it reduces the likelihood that a difficult password may be guessed. On the other hand, this
        reduces the time and resources required to execute such an attack.
    </p>
    <p>
        A dictionary attack tried only those that are deemed most likely to succeed. Dictionary attacks often
        succeed because many people use short passwords or ordinary words.
    </p>


    <h3 class="my-3">Sample Applications</h3>
    <p>
        The below shown applications relate to the processes described above.
    </p>
    <p>
        The brute-force attack application generates all the possible combinations for lowercase ascii with the number
        digits for a maximum length of 6 characters. However, please be aware that 6 character hashes may take some time
        to decrypt.
    </p>
    <p>
        The dictionary attack application uses the provided wordlist otherwise the default wordlist.
    </p>

    {% include 'password_cracking/logic.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/hooks.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}}