{% extends 'base/post.html' %}
{% load static %}

{% block article %}
    <p>
        Luhn algorithm or Luhn formula is a simple checksum formula used to validate a variety of
        identification numbers such as, credit card numbers and IMEI numbers.
    </p>
    <p>
        It was named after its creator, IBM scientist
        <a href="https://en.wikipedia.org/wiki/Hans_Peter_Luhn">Hans Peter Luhn</a>.
    </p>

    {% include 'luhn_algorithm/logic.html' %}

    <div class="accordion shadow-sm mt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    Other
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!-- Algorithm Information -->
                    <h6>Major Industry Identifier</h6>
                    <p>The first digit of a credit card number represent the category of entity which issued the
                        card.</p>
                    <h6>Issuer identification number</h6>
                    <p>The first six digits of a card number identify the institution that issued the card.</p>
                    <h6>Personal Account identifier</h6>
                    <p>From digit no. 7 to final minus 1, indicate individual account identifier.</p>
                    <p>The last digit is the checksum number.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/hooks.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}