{% load widget_tweaks %}
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <form action="{% url 'password_cracking:dictionary' %}" method="post" data-partial="dict-response"
              data-partial-waiting="dict-waiting">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.hashed_word.id_for_label }}" class="form-label">Hash</label>
                {% render_field form.hashed_word class="form-control" pattern="[0-9a-f]+" data-block-pattern=True %}
            </div>
            <div class="mb-3">
                <label for="{{ form.enc_type.id_for_label }}" class="form-label">Encryption</label>
                {% render_field form.enc_type class="form-select" %}
            </div>
            <div class="mb-3">
                <label for="{{ form.dict_file.id_for_label }}" class="form-label">Dictionary</label>
                {% render_field form.dict_file class='form-control' accept='text/plain' %}
                <small class="text-muted">Leave empty to use default <a href="">wordlist.</a></small>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>

        {# Waiting #}
        {% include 'password_cracking/waiting_card.html' %}

        {# Response #}
        <div id="dict-response"></div>
    </div>
</div>