{% extends 'base/main.html' %}
{% load static %}

{% block head %}
    <title>Cryptick</title>
{% endblock %}

{% block heading %}
    <h1>Cryptick</h1>
    <span class="subheading">Let's learn about basic Cryptography</span>
{% endblock %}
{% block background %}{% static 'assets/background/home.jpg' %}{% endblock %}

{% block main %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:posts' date='2021-08-21' name='hiding-in-strings' %}">
                        <h2 class="post-title">Hiding Secrets in Strings</h2>
                        <h3 class="post-subtitle">Best place to hide is in plain sight</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="https://github.com/mensch272">Mensch272</a>
                        on August 21, 2021
                    </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />

                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:posts' date='2021-07-17' name='dictionary-attack' %}">
                        <h2 class="post-title">Dictionary Attack</h2>
                        <h3 class="post-subtitle">An elaborate list of words</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="https://github.com/mensch272">Mensch272</a>
                        on July 17, 2021
                    </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />

                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:posts' date='2021-07-14' name='brute-force-attack' %}">
                        <h2 class="post-title">Brute-Force Attack</h2>
                        <h3 class="post-subtitle">Not 1111? How about 1112, or is it 1113, must be 1114...</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="https://github.com/mensch272">Mensch272</a>
                        on July 14, 2021
                    </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />

                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:posts' date='2021-07-12' name='luhn-algorithm' %}">
                        <h2 class="post-title">Luhn Algorithm</h2>
                        <h3 class="post-subtitle">Validate your credit card number</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="https://github.com/mensch272">Mensch272</a>
                        on July 12, 2021
                    </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />

                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:posts' date='2021-07-10' name='hamming-code' %}">
                        <h2 class="post-title">Hamming Code</h2>
                        <h3 class="post-subtitle">Linear error-correcting codes</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="https://github.com/mensch272">Mensch272</a>
                        on July 10, 2021
                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}