{% extends 'base/main.html' %}
{% load static %}


{% block head %}
    <title>Cryptick | Home</title>
    <meta name="description" content="This is a group of closely related cryptography projects. [UFCFT4-15-3]">
{% endblock %}

{% block main %}
    <section class="card flex-fill w-100">
        <div class="card-body px-4">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <h1 class="heading">Cryptick</h1>
                        <p>This is a group of closely related cryptography projects.</p>
                        <p><code>[UFCFT4-15-3]</code></p>
                    </div>
                    <div class="col-12 col-sm-10 col-md-6 mx-auto mx-md-0">
                        <img src="{% static '/assets/illustrations/safe.svg' %}" alt="Cover image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        {% for post in posts %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body px-4">
                        <h5 class="card-title mb-1">
                            <a class="text-link"
                               href="{% url 'blog:posts' date=post.published name=post.link %}">{{ post.title }}</a>
                        </h5>
                        <div class="text-muted mb-3">
                            <span class="date">Published on {{ post.published }}</span>
                        </div>
                        <div>{{ post.description }}</div>
                        <a class="text-link" href="{% url 'blog:posts' date=post.published name=post.link %}">Read
                            more &rarr;</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}