{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <title>Chat Room</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column vh-100">
        <header class="bg-head"></header>
        <div class="d-flex flex-column h-100" x-data="alpineData()" x-init="alpineInit()">
            <div class="h-100 container px-4 px-lg-5">
                <div class="h-100 row gx-4 gx-lg-5 justify-content-center">
                    <div class="d-flex flex-column h-100 col-md-10 col-lg-8 col-xl-7">
                        <div class="d-flex flex-column gap-3 mt-auto mb-3" id="messages">
                            <template x-for="id in order">
                                <div class="card card-body w-75 message"
                                     x-data="messageData(id)"
                                     @click="showSecret(message)"
                                     :class="message['is_self'] ? 'bg-light align-self-end' : ''"
                                >
                                    <div>
                                        <span x-text="message.alias" class="fw-bold"></span> -
                                        <small class="p-0" x-text="message.time"></small>
                                    </div>
                                    <div x-text="message.text"></div>
                                    <div x-show="message.hasSecret !== null">
                                        <hr>
                                        <i class="fas fa-key me-1" x-show="message.hasSecret === true"></i>
                                        <small x-text="message.secret"></small>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <div class="py-2" id="input">
                            <div class="mb-3 d-flex gap-1">
                                <input x-model="inputs.message" @keydown.enter="send()" type="text" class="form-control" name="message" placeholder="Message">
                                <button @click="send()" class="btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    SEND
                                </button>
                            </div>
                            <div class="row g-3">
                                <div class="col-2">
                                    <input x-model="inputs.key" type="text" class="form-control col-2"
                                           name="key" placeholder="key" @keydown.enter="focus.secret()">
                                </div>
                                <div class="col">
                                    <input x-model="inputs.secret" type="text" class="form-control col" name="secret"
                                           placeholder="Secret message" @keydown.enter="focus.message()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ room_info|json_script:"room-info" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script src="{% static 'chat/cipher.js' %}"></script>
    <script src="{% static 'chat/chat.js' %}"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}